<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tmrasys.dao.ProjectDao">
	<select id="loadProjectById" resultType="com.tmrasys.domain.Project"
		parameterType="int">
		SELECT * FROM project
		WHERE
		projectid=#{id}
	</select>

</mapper>

